# Video Formats
*.mp4
*.avi
*.mov
*.wmv
*.flv
*.mkv
*.webm
*.mpeg
*.mpg
*.m4v
*.h264
*.flv
*.rm
*.swf
*.vob

# Image Formats
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.bmp
*.tiff
*.tif
*.psd
*.ai
*.eps
*.raw
*.cr2
*.nef
*.orf
*.sr2

*txt
*.pt
!*crosswalk.pt